body {
    background-color: #c7cad0;
}
h1 {
    text-align: center;
    color: #bc6cd9;
p{
    font-size: large;
    text-align: center;
    font-weight: bold;
    color: rgb(76, 108, 153);
}
img{
    max-width: 25%;
    max-height: 25%;
}
ol li{
    font-size: 30px;
    color: blueviolet;
    
}
ul li{
    color: green;
    font-weight: bold;
    background-color: yellow;
    text-align: center
}

.enviar{
    border-radius: 5px;
    background-color: rgb(0, 0, 255);
}
.etiqueta{
    background-color: blue;
}