* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 18px;
  background-color: #f5f5f6;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}